<div class="container" role="main">
    <ol class="breadcrumb">
        <li>
            {{#link-to 'index'}}Sweco League{{/link-to}}
        </li>
        <li>
            {{#link-to 'league' league}}{{league.year}}{{/link-to}}
        </li>
        <li>
            {{#link-to 'league.group' group}}{{group.name}}{{/link-to}}
        </li>
    </ol>

    <h2>Tabell</h2>

    <div>
       <table class="table">
          <thead>
            <tr>
             <th>Lag</th>
             <th>Matcher</th> 
             <th>Segrar</th>
             <th>Oavgjorda</th>
             <th>Förluster</th>
             <th>Gjorda mål</th>
             <th>Insläppta mål</th>
             <th>Målskillnad</th>
             <th>Poäng</th>
         </tr>
     </thead>
     <tbody>
      {{#each sortedTeams as |team|}}
      <tr>
       <td>{{#link-to 'league.group.team' team}}{{team.name}}{{/link-to}}</td>
       <td>{{team.gamesplayed}}</td> 
       <td>{{team.wins}}</td>
       <td>{{team.ties}}</td>
       <td>{{team.losses}}</td>
       <td>{{team.goalsscored}}</td>
       <td>{{team.goalsagainst}}</td>
       <td>{{team.goaldiff}}</td>
       <td>{{team.points}}</td>
   </tr>
   {{/each}}
</tbody>
</table>
</div>

<h2>Spelschema</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Hemma</th>
                <th></th>
                <th>Borta</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each sortedMatches as |match|}}
            <tr>
                <input type="text" class="form-control" value={{match.dateInfo}} id={{match.id}} onblur={{action "updateDate" value="target"}}>               
                <td>{{match.hometeam}}</td>
                <td>-</td>
                <td>{{match.awayteam}}</td>
                <input type="text" class="form-control" value={{match.homegoals}} id={{match.id}} onblur={{action "updateHomeGoals" value="target"}}>
                <td>-</td>
                <input type="text" class="form-control" value={{match.awaygoals}} id={{match.id}} onblur={{action "updateAwayGoals" value="target"}}>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<h2>Skytteliga</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Förnamn</th> 
                <th>Efternamn</th>
                <th>Lag</th>
                <th>Gjorda mål</th>
            </tr>
        </thead>
        <tbody>
            {{#each top10players as |player|}}
            <tr>
                <td>{{player.firstname}}</td>
                <td>{{player.surname}}</td>
                <td>{{player.team.name}}</td>
                <td>{{player.goalsscored}}</td>             
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{outlet}}
</div>