<div class="container" role="main">
    <ol class="breadcrumb">
        <li>
            {{#link-to 'index'}}Sweco League{{/link-to}}
        </li>
        <li>
            {{#link-to 'league' league}}{{league.year}}{{/link-to}}
        </li>
        <li>
            {{#link-to 'league.group' group}}{{group.name}}{{/link-to}}
        </li>
        <li>
            {{#link-to 'league.group.team' team}}{{team.name}}{{/link-to}}
        </li>
    </ol>
    <h2>Spelare</h2>
    <div>
    	<table class="table">
    		<thead>
                <tr>
                    <th>Förnamn</th> 
                    <th>Efternamn</th>
                    <th>Gjorda mål</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        		{{#each team.players as |player|}}
                <tr>
                	<td>{{player.firstname}}</td>
                    <td>{{player.surname}}</td>
                    <td>{{player.goalsscored}}</td>
                    <td>
                    	<button type="button" {{action "decrementGoals" player}} class="btn btn-default btn-xs">
                    		<span class="glyphicon glyphicon-minus"></span>
                    	</button>
                    	<button type="button" {{action "incrementGoals" player}} class="btn btn-default btn-xs">
                    		<span class="glyphicon glyphicon-plus"></span>
    					</button>
                   	</td>                
        		</tr>
        		{{/each}}
    		</tbody>
    	</table>
    </div>  
</div>